.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 60%;
  left: 10%;
  top: 10%;

  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.textOverflow {
  white-space: nowrap;
  width: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000000;
  margin-top: 15px;
}

.btn-search {
  background-color: #DEDEDE;
}
.btn-search:hover {
  background-color: rgb(172, 172, 172)
}

.btn-nextpage {
  color: #FFFFFF;
  background-color: #1B9DC1;
}
.btn-nextpage:hover {
  background-color: rgb(21, 127, 156);
}

.btuSignin {
    background-color: #3885DE;
     border:0px solid transparent;
}
.btuSignin:hover {
    background-color: #1976D2;
}
.iconBack:hover {
    color: #2196F3;
}

.option-margin {
  margin-top: 5px;
}

.breadcrumb-set {
  background-color: #FFFFFF;
  margin-bottom: 0px;
  padding-bottom: 5px;
  padding-top: 5px
}

.textOverflow-Shareuser {
  white-space: nowrap;
  width: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000000;
}

.btn-next {
  color: #FFFFFF;
  background-color: #2793E8;
}
.btn-next:hover {
  background-color: rgb(31, 122, 192);
}
.tatextOverflowx {
  white-space: nowrap;
  width: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000000;
  cursor: pointer;
  background: transparent;
  border: 0 none;
}

.group-overflow {
  white-space: nowrap;
  width: 200px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  background: transparent;
  border: 0 none;
}

.btu-newform {
  background-color: #3885DE;
  color: #FFFFFF;
}
.btu-newform:hover {
  background-color: #286FC2;
  color: #FFFFFF;
}
