<div class="bg">

  <div class="">

    <mat-tab-group (selectedTabChange)="checkRole($event)">
      <mat-tab label="All Forms" *ngIf="isAdmin">
        <div class="container">
          <div class="row form-inline">
            <div class="col-lg-12 my-2" style="line-height: 2;">
              <div class="row">
                <div class="col-lg-2 col-sm-12">
                  <h2 class="float-left text-black">All form</h2>
                </div>
                <div class="col-lg-4 col-sm-12">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-set">
                      <li class="breadcrumb-item"><a routerLink="/groups"><i class="fas fa-home"></i> Home</a></li>
                      <li class="breadcrumb-item group-overflow active"><a>{{groupName}}</a></li>
                    </ol>
                  </nav>
                </div>
                <div class="col-lg-3 col-sm-12">
                  <mat-form-field>
                    <input matInput placeholder="Search..." [(ngModel)]="keyword" (keyup)="getForm()"
                      autocomplete="off">
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-sm-12">
                  <button class="btn btn-sm btu-newform" routerLink="./new" style="margin-top: 10px">
                    <i class="fas fa-plus"></i> New Form
                  </button>
                </div>
              </div>

              <div *ngIf="formsArray">
                <div class="row" *ngIf="!isEmptyAllForm;else noneformData">
                  <div class="col-lg-3 col-sm-6 mb-4" style="margin-top: 20px;width: 50%"
                    *ngFor="let form of formsArray;let i = index">
                    <div class="hovereffect border" (click)="selectForm(i)" routerLink="show/{{form.id}}"
                      style="border-radius: 20px">
                      <img class="img-responsive img-fluid d-block mx-auto lazy" [src]="HOST_URL + form.image"
                        style="width: 200px; ;height:200px;border-radius: 20px;" *ngIf="form.image"
                        onerror="this.src='/assets/img/img_error.png'" alt="">
                      <hr>
                      <div class="overlay">
                        <small>
                          <h2 class="textOverflow" style="width: 100%; padding: 0px 30px;">
                            {{form.title}}
                          </h2>
                        </small>
                        <p>
                          <a>
                            <div class="rows">
                              <div class="col">
                                Last Update
                              </div>
                              <div class="col">
                                <textarea class="tatextOverflowx" style="color: aliceblue" rows="7"
                                  disabled>{{form.updated_at | dateCustom:form.updated_at}}</textarea>
                              </div>
                            </div>

                          </a>
                        </p>
                      </div>
                      <small>
                        <h6>
                          <div class="textOverflow">
                            {{form.title}}
                          </div>
                        </h6>
                      </small>

                    </div>
                  </div>
                </div>
                <div class="text-center" *ngIf="isLoadForm">

                  <button class="btn btn-default btn-next" (click)="loadForm()">
                    See more...
                  </button>
                </div>

              </div>
            </div>

          </div>
        </div>

      </mat-tab>
      <mat-tab label="My Forms" (selectedTabChange)="getForm()">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 my-2" style="line-height: 2;">
              <div class="row form-inline">
                <div class="col-lg-2 col-sm-12">
                  <h2 class="float-left text-black">My form</h2>
                </div>
                <div class="col-lg-4 col-sm-12">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-set">
                      <li class="breadcrumb-item "><a routerLink="/groups"><i class="fas fa-home"></i> Home</a></li>
                      <li class="breadcrumb-item group-overflow active"><a>{{groupName}}</a></li>
                    </ol>
                  </nav>
                </div>
                <div class="col-lg-3 col-sm-12">
                  <mat-form-field>
                    <input matInput placeholder="Search..." [(ngModel)]="keyword" (keyup)="getForm()"
                      autocomplete="off">
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-sm-12">
                  <button mat-raised-button color="primary" routerLink="./new">
                    <i class="fas fa-plus"></i> New Form</button>
                </div>
              </div>


              <div class="row" *ngIf="!isEmptyForm;else noneformData">

                <div class="col-lg-3 col-sm-6 mb-4" style="margin-top: 20px;width: 50%"
                  *ngFor="let form of formsArray;let i = index">

                  <div class="hovereffect border" (click)="selectForm(i)" routerLink="show/{{form.id}}"
                    style="border-radius: 20px">
                    <div>
                      <img class="img-responsive img-fluid d-block mx-auto lazy" [src]="HOST_URL + form.image"
                        style="width: 200px; ;height:200px;border-radius: 20px;"
                        onerror="this.src='/assets/img/img_error.png'" alt="">
                    </div>
                    <hr>
                    <div class="overlay">
                      <small>
                        <h2 class="textOverflow" style="width: 100%; padding: 0px 30px;">
                          {{form.title}}
                        </h2>
                      </small>
                      <p>

                        <a>
                          <div class="rows">
                            <div class="col">
                              Last Update
                            </div>
                            <div class="col">
                              <textarea class="tatextOverflowx" style="color: aliceblue" rows="7"
                                disabled>{{form.updated_at | dateCustom:form.updated_at}}</textarea>
                            </div>
                          </div>
                        </a>
                      </p>
                    </div>
                    <small>
                      <h6 class="textOverflow">
                        {{form.title}}
                      </h6>
                    </small>
                  </div>
                </div>
              </div>

              <div class="text-center" *ngIf="isLoadForm">
                <button class="btn btn-default btn-next" (click)="loadForm()">
                  See more...
                </button>
              </div>

            </div>
          </div>
        </div>
        <ng-template #noneformData>
          <div style="margin-top: 20px">
            <p class="text-muted">My forms is empty.</p>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Share Forms" *ngIf="!isAdmin">
        <app-share></app-share>
        <ng-template #noneFileData>
          <div style="margin-top: 20px">
            <p class="text-muted">Share forms is empty.</p>
          </div>
        </ng-template>
      </mat-tab>

    </mat-tab-group>
    <br>
  </div>
</div>
