.bg {
  /* background-color: #FFFFFF;
  background-image: url('../../../assets/img/bg/bg-form.png');
  height: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover; */
}
.modal-header-color {
  background-color: #0A2455;
  color: #FFFFFF;
}
.text-title {
  color: #FFFFFF;
}
