<div class="bg">
  <div class="container" *ngIf="user">
    <div class="row">
      <div class="col-lg-12 my-4">
        <div class="clearfix align-middle">
          <h2 class="float-left text-title">My Account</h2>
        </div>

        <div class=" text-center">
          <div class="clearfix align-middle">
            <img class="shadow d-block mx-auto mb-2 rounded-circle" [src]="HOST_URL+user.user_info.image" alt=""
              width="200" height="200" onerror="this.src='/assets/img/img_error.png'" alt="">
          </div>
          <h2>{{user.user_info.name}}</h2>

          <div class="clearfix align-middle">
            <h4 class="text-muted float-left" style="margin-bottom: 0px;line-height: 2;">User Info</h4>
            <button class="btn btn-primary btn-sm float-right mr-2 my-2" data-toggle="modal"
              data-target="#changePasswordModal">Change Password</button>
            <button class="btn btn-warning btn-sm float-right mr-2 my-2" data-toggle="modal"
              data-target="#editProfileModal">Edit
              Profile</button>
          </div>



          <div class="text-center">
            <ul class="list-group mb-3 shadow">
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0 float-left">Username</h6><br>
                  <small class="text-muted float-left">{{user.user_info.username}}</small>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0 float-left">Name</h6><br>
                  <small class="text-muted float-left">{{user.user_info.name}}</small>
                </div>

              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0 float-left">Email</h6><br>
                  <small class="text-muted float-left">{{user.user_info.email}}</small>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0 float-left">Phone</h6><br>
                  <small class="text-muted float-left">{{user.user_info.tel}}</small>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0 float-left">Position</h6><br>
                  <small class="text-muted float-left">{{user.user_info.position}}</small>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>





    <!-- edit Modal -->
    <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header modal-header-color">
            <h5 class="modal-title" id="exampleModalLongTitle">Edit Profile</h5>
            <button type="button" class="close modal-header-color" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div>
                <img class="shadow d-block mx-auto mb-2 rounded-circle" [src]="imageValue" alt="" width="200"
                  height="200" onerror="this.src='/assets/img/img_error.png'" alt="">
              </div>
              <div class="custom-file">
                <input type="file" accept="image/*" class="custom-file-input" id="fileImage"
                  (change)="handleFileInputExam($event)">
                <label class="custom-file-label" for="fileImage">Choose file</label>
              </div>
              Name <input type="text" class="form-control" [(ngModel)]="nameValue" name="name_value" autocomplete="off">
              Email <input type="email" class="form-control" [(ngModel)]="emailValue" name="email_value"
                autocomplete="off">
              Phone <input type="text" class="form-control" [(ngModel)]="telValue" name="tel_value" autocomplete="off"
                maxlength="10">
              Position <input type="text" class="form-control" [(ngModel)]="positionValue" name="position_value"
                autocomplete="off">
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="editProfile()">Save
              changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- password Modal -->
    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header modal-header-color">
            <h5 class="modal-title" id="exampleModalLongTitle">Change Password</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              Old Password <input type="password" class="form-control" [(ngModel)]="oldPassword" name="old_pass">
              New Password <input type="password" class="form-control" [(ngModel)]="newPassword" name="new_pass">
              Comfirm New Password <input type="password" class="form-control" [(ngModel)]="confirmPassword"
                name="comfirm_pass">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="changePassword()">Change password</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
