.img-custom {
  height: 200px;
}
.subtitle-color {
  color: #FF8C00;
}
.zoom {
  transition: transform .2s;
  margin: 0 auto;
}
.zoom:hover {
  cursor: pointer;
  transform: scale(1.1);
}
