<div class="container my-2">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="float-left text-black">Intern Team</h2>
    </div>
  </div>

  <div class="row" style="margin-top: 20px">
    <div class="col-lg-1 text-center">
    </div>
    <div class="col-lg-2 text-center zoom" style="margin-bottom: 10px" *ngFor="let user of userData;let i = index"
      (mouseover)="getDetail(i)">
      <mat-card class="example-card">
        <img mat-card-image class="img-custom" [src]="user.image">
        <mat-card-content>
          <mat-card-subtitle style="color:#FF8C00">{{user.role}}</mat-card-subtitle>
          <hr>
          <strong>{{user.name}}</strong>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-1 text-center">
    </div>
  </div>

  <div class="p-3 bg-white rounded shadow-sm border" style="margin-bottom: 40px;margin-top: 20px" *ngIf="userHover">
    <div class="text-center">
      <h5 style="color: #FF8C00">Profile</h5>
      <hr>
      Name: {{userHover.name}} <br>
      Position: {{userHover.role}} <br>
      University: {{userHover.university}} <br>
      Email: {{userHover.email}} <br>
      Phone: {{userHover.tel}}
    </div>

  </div>
</div>
