.browse::after {
  font-family: "Font Awesome 5 Free";
  content: "\f03e" !important;
}
.color-danger {
  color: #e41c44;
}
input:checked + .slider-danger {
    background-color: #e41c44 !important;
}

input:focus + .slider-danger {
    box-shadow: 0 0 1px #e41c44 !important;
}

.image-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

div.textOverflow {
  white-space: nowrap;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.example-list {
  width: 100%;
  max-width: 100%;
  border: solid 1px rgb(144, 177, 204);
  min-height: 60px;
  display: block;
  background: #b9b9b9;
  border-radius: 4px;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #BDBDBD;
  color: #212121;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: rgb(245, 245, 245);
  font-size: 14px;
  border-radius: 4px;
  position: relative;

  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.example-handle {
  position: absolute;
  top: 27px;
  right: 10px;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

 .cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.text-required {
  color: #e41c44;
}

.breadcrumb-set {
  background-color: #FFFFFF;
  margin-bottom: 0px;
  padding-bottom: 5px;
  padding-top: 5px
}

.btn-submit {
  color: #FFFFFF;
  background-color: #3885DE;
}
.btn-submit:hover {
  background-color: #286FC2;
}
.form-overflow {
  white-space: nowrap;
  width: 200px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  background: transparent;
  border: 0 none;
}



