<div class="bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-sm-12">
        <div class="row my-4">
          <div class="col-lg-3 col-sm-12" style="margin-top: 13px;">
            <h4 class=" text-dark">New Form</h4>
          </div>
          <div class="col-lg-9 col-sm-12">
            <nav aria-label="breadcrumb" style="margin-top: 10px;">
              <ol class="breadcrumb breadcrumb-set">
                <li class="breadcrumb-item"><a routerLink="/groups">Group</a></li>
                <li class="breadcrumb-item form-overflow"><a routerLink="/groups/{{groupId}}">{{groupName}}</a></li>
                <li class="breadcrumb-item active"><a>New</a></li>
              </ol>
            </nav>
          </div>
        </div>
        <form class="needs-validation" novalidate="">

          <label for="firstName">Title</label>
          <input type="text" class="form-control" id="formName" placeholder="" value="" required=""
            [(ngModel)]="formTitle" name="nameForm" autocomplete="off">

          <br>
          <label for="lastName">Description</label>
          <textarea class="form-control" id="lastName" placeholder="some description..." value="" required=""
            [(ngModel)]="formDescription" name="disForm" cols="2" rows="5"></textarea>

        </form>

      </div>
      <div class="col-lg-4 col-sm-12">
        <h4 class=" align-items-center my-4 text-dark">
          <span class="">Image Form</span>
          <h6 class="text-muted" style="margin-top: 10px;"><small>File format: JPEG, PNG (recommended 150x150px, max
              10MB)</small></h6>
        </h4>
        <ul class="list-group mb-3 shadow-sm">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div style="width: 100%">
              <div class="custom-file">
                <input id="browseImage" type="file" accept="image/*" class="custom-file-input"
                  (change)="handleFileInput($event)">
                <label class="custom-file-label browse" for="browseImage" style="width: 100%">
                  <div class="textOverflow" style="width: 100%">{{imageName}}</div>
                </label>
              </div>
            </div>
          </li>
          <br>
          <div style="width: 100%;height: auto;">
            <div class="rounded mx-auto d-block " *ngFor="let image of formImage" style="width: 100%;height: auto;">
              <img type="image" class=" image-center" [src]="image.url"
                style="width: 150px; height: 150px;border-radius: 20px;"><br>
            </div>
          </div>
        </ul>
      </div>
    </div>

    <hr>

    <div *ngIf="isDragdrop">

      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let items of myItem; let i = index" cdkDrag>

          <div class="row">
            <div class="col-lg-1">
              <h3 style="margin-top: -5px;">{{i+1}}</h3>
            </div>
            <div class="col-lg-3 col-sm-12 ">
              <div class="form-group row">
                <label class=col-lg-3> Title</label>
                <div class=col-lg-9>
                  <input class="form-control form-control-sm" [(ngModel)]="items.title" name="formtitle"
                    autocomplete="off" style="margin-left: 5px;width: 100%;">
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-sm-12">
              <div class="form-group row">
                <label class=col-lg-3> Description</label>
                <div class=col-lg-9>
                  <textarea class="form-control form-control-sm" [(ngModel)]="items.description" name="formdes" rows="1"
                    cols="80" style="margin-left: 5px;width: 100%;"></textarea>
                </div>
              </div>
            </div>
            <div class="" style="position: absolute;
            top: 25px;
            right: 48px;">
              <button class="btn btn-default" (click)="removeItem(i)" matTooltip="Delete item"
                matTooltipPosition="below" style="margin-top: -7px;">
                <i class="far fa-trash-alt color-danger"></i>
              </button>
            </div>
            <div class="w-100"></div>
            <div class="col-lg-3  clearfix">
              <div class="text-center" style="margin-top: 20px;">
                <mat-slide-toggle [(ngModel)]="items.required" name="required_sw{{i}}">
                  Required
                </mat-slide-toggle>
              </div>
            </div>
            <div class="col-lg-3 clearfix">
              <div class="text-center" style="margin-top: 20px;">
                <mat-slide-toggle color="primary" [(ngModel)]="items.av_search" name="filter_sw{{i}}">
                  Filter
                </mat-slide-toggle>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="text-center" style="margin-top: 5px;">
                <mat-form-field color="primary">
                  <mat-label>Select an Type</mat-label>
                  <mat-select [(value)]="items.data_type" id="Selecttype2"
                    (selectionChange)="selectType($event.value,i)">
                    <mat-option value="String">
                      <img src="assets/icon/icon-type/short_text.png"> Short Ans</mat-option>
                    <mat-option value="Text">
                      <img src="assets/icon/icon-type/subject.png"> Long Ans</mat-option>
                    <mat-option value="Integer">
                      <img src="assets/icon/icon-type/number.png"> Number</mat-option>
                    <mat-option value="Float">
                      <img src="assets/icon/icon-type/decimal.png"> Decimal</mat-option>
                    <mat-option value="Datetime">
                      <img src="assets/icon/icon-type/time.png"> Time</mat-option>
                    <mat-option value="Date">
                      <img src="assets/icon/icon-type/date.png"> Date</mat-option>
                    <mat-option value="Image">
                      <img src="assets/icon/icon-type/photo.png"> Image</mat-option>
                    <mat-option value="File">
                      <img src="assets/icon/icon-type/file.png"> File</mat-option>
                    <mat-option value="Dropdown">
                      <img src="assets/icon/icon-type/dropdown.png"> Dropdown</mat-option>
                    <mat-option value="Checkbox">
                      <img src="assets/icon/icon-type/check.png"> CheckBox</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-12">
              <div class="form-group mr-3 ml-2" *ngIf="items.is_checkbox">
                <mat-form-field class="example-chip-list" style="width: 100%">
                  <mat-chip-list #chipList>
                    <mat-chip *ngFor="let item of myItem[i].value;let j = index" [selectable]="selectable"
                      [removable]="removable" (removed)="removeItemCheckbox(i,j)">
                      {{item.data}}
                      <i matChipRemove *ngIf="removable" class="fas fa-times"></i>
                    </mat-chip>
                    <input placeholder="Checkbox input here..." [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                      (matChipInputTokenEnd)="addItemCheckbox($event,i)" autocomplete="off">
                  </mat-chip-list>
                </mat-form-field>
              </div>
              <div class="form-group mr-3 ml-2" *ngIf="items.is_dropdown">
                <mat-form-field class="example-chip-list" style="width: 100%">
                  <mat-chip-list #chipList>
                    <mat-chip *ngFor="let item of myItem[i].value;let j = index" [selectable]="selectable"
                      [removable]="removable" (removed)="removeItemDropdown(i,j)">
                      {{item.data}}
                      <i matChipRemove *ngIf="removable" class="fas fa-times"></i>
                    </mat-chip>
                    <input placeholder="Dropdown input here..." [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                      (matChipInputTokenEnd)="addItemDropdown($event,i)" autocomplete="off">
                  </mat-chip-list>
                </mat-form-field>
              </div>
            </div>
          </div>

          <!-- DragHandle -->
          <div class="example-handle" cdkDragHandle>
            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
              </path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>


        </div>
      </div>

      <hr>
    </div>

    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-outline-success btn-block" (click)="addItem()">
          <i class="fas fa-plus"></i> Add item
        </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-outline-info btn-block" data-toggle="modal" data-target="#PreModal"
          (click)="preview()">
          <i class="fas fa-search"></i> Preview
        </button>
      </div>
    </div>
    <hr>
    <button class="btn btn-default btn-block btn-submit" type="submit" (click)="createForm()">
      <i class="fas fa-angle-right"></i> Create new my forms</button>
    <hr>

  </div>


  <div class="modal fade" id="PreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Preview Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="text-center">
            <form class="">
              <ul class="list-group mb-3 shadow-sm">
                <li class="list-group-item d-flex justify-content-between lh-condensed"
                  *ngFor="let list of myItem; let i = index">
                  <div>
                    <div class="form-inline">
                      <h6 class="my-0 float-left">{{i+1}}.&nbsp;{{list.title}}</h6>
                      <a *ngIf="isRequired[i]">
                        <p class="text-required">*</p>
                      </a>

                    </div>

                    <div *ngIf="isPreDate[i]">

                      <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date"
                          matTooltip="{{list.description}}" matTooltipPosition="right" name="date{{i}}">
                        <mat-datepicker-toggle matSuffix [for]="picker" matTooltip="{{list.description}}"
                          matTooltipPosition="right"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker matTooltip="{{list.description}}" matTooltipPosition="right">
                        </mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="form-inline" *ngIf="isPreDatetime[i]">

                      <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date"
                          matTooltip="{{list.description}}" matTooltipPosition="right">
                        <mat-datepicker-toggle matSuffix [for]="picker" matTooltip="{{list.description}}"
                          matTooltipPosition="right"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker matTooltip="{{list.description}}" matTooltipPosition="right">
                        </mat-datepicker>
                      </mat-form-field>
                      <input class="form-control" [ngxTimepicker]="pickerz" [format]="24"
                        matTooltip="{{list.description}}" matTooltipPosition="right"
                        placeholder="Choose a time (12:30 pm)" style="margin-left: 10px">
                      <ngx-material-timepicker #pickerz></ngx-material-timepicker>
                    </div>
                    <div *ngIf="isPreString[i]">

                      <input type="text" class="form-control" [(ngModel)]="list.value" name="stringForm"
                        autocomplete="off">
                    </div>
                    <div *ngIf="isPreText[i]">

                      <textarea class="form-control" cols="30" rows="10" [(ngModel)]="list.value" name="textForm"
                        autocomplete="off"></textarea>
                    </div>
                    <div *ngIf="isPreInt[i]">

                      <input type="number" min="0" step="1" class="form-control" [(ngModel)]="list.value" name="intForm"
                        autocomplete="off">
                    </div>
                    <div *ngIf="isPreFloat[i]">

                      <input type="number" step="0.01" class="form-control" [(ngModel)]="list.value" name="floatForm"
                        autocomplete="off">
                    </div>
                    <div *ngIf="isPreCheck[i]">

                      <div class="custom-control custom-checkbox custom-control-inline"
                        *ngFor="let item of myItem[i].value;let j = index">
                        <input type="checkbox" class="custom-control-input" id="defaultInline{{i}}{{j}}">
                        <label class="custom-control-label" for="defaultInline{{i}}{{j}}">{{item.data}}</label>
                      </div>

                    </div>
                    <div *ngIf="isPreImage[i]">

                      <div class="custom-file">
                        <input type="file" accept="image/*" class="custom-file-input" id="fileImage"
                          (change)="handleFileImageInputExam($event,i)" multiple>
                        <label class="custom-file-label" for="fileImage">Choose Image</label>
                      </div>

                      <div class="rounded mx-auto d-block">
                        <div class="row">
                          <div class="col" *ngFor="let image of examImage[i]">
                            <img type="image" class="img rounded" [src]="image" style="width: 150px; ;height: 150px">
                          </div>

                        </div>
                      </div>

                    </div>
                    <div *ngIf="isPreFile[i]">

                      <input type="file" accept="*" multiple>

                    </div>
                    <div *ngIf="isPreDropdown[i]">

                      <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          {{dropdownSelect}}
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" *ngFor="let item of myItem[i].value"
                            (click)="selectDropdown(item.data)">
                            {{item.data}}
                          </a>
                        </div>
                      </div>

                    </div>



                  </div>

                </li>
              </ul>

            </form>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
