<div class="bg">
  <div class="container">
    <div class="p-3 bg-white rounded shadow-sm border text-center" style="margin-bottom: 40px;margin-top: 20px">
      <div class="text-center">
        <h3 style="color: cornflowerblue">Already sent pin to your email!</h3>
        <h5 class="text-muted"><small>Enter the Code to Verify Your Email.</small></h5>
        <mat-form-field>
          <input matInput placeholder="pin" [(ngModel)]="pin" name="pin_value" autocomplete="off">
          <mat-icon matSuffix><i class="fas fa-key"></i></mat-icon>
        </mat-form-field>
        <p style="color: brown">{{alertText}}</p>
        <div>
          <button class="btn btn-secondary" routerLink="/signin">Back</button>
          <button class="btn btn-primary" style="margin-left: 10px" (click)="checkPin()" [disabled]="isSubmitClicked"
            type="submit">
            <div *ngIf="isLoadingPin" class="spinner-border spinner-border-sm text-light" role="status">
              <span class="sr-only">Loading...</span>
            </div>Send Pin
          </button>
        </div>

      </div>

    </div>
  </div>
</div>
