<div class="container">
  <div class="row" *ngIf="listUser">
    <div class="col-lg-12 my-4">
      <div class="row">
        <div class="col-lg-1.5 col-sm-12">
          <h2 class="float-left text-black">Users</h2>
        </div>
        <div class="col-lg-5 col-sm-12">
          <nav aria-label="breadcrumb" style="margin-top: 7px;">
            <ol class="breadcrumb breadcrumb-set">
              <li class="breadcrumb-item"><a routerLink="/groups" style="color: #007bff"><i class="fas fa-home"></i>
                  Home</a></li>
              <li class="breadcrumb-item active"><a style="color: #007bff">Manage</a></li>
              <li class="breadcrumb-item active"><a>Users</a></li>
            </ol>
          </nav>
        </div>
        <div class="col-5">

        </div>
      </div>

    </div>

    <div class="col-lg-12" style="margin-bottom: 40px">
      <div class=" align-middle">
        <div class="row">
          <div class="col-lg-4 col-sm-12 clearfix">
            <h6 class="float-left" style="margin-bottom: 0px;line-height: 2;">User List</h6>
            <h6 class="float-right" style="line-height: 2">Results {{resultNumber}}</h6>
          </div>
          <div class="col-lg-8 col-sm-12 clearfix">
            <div class="float-right">
              <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#PreModal">
                <i class="fas fa-user-plus"></i> New User</button>
            </div>
          </div>
        </div>


      </div>
      <hr>
      <div class="row">
        <div class="col-lg-4 col-sm-12 shadow-sm">
          <mat-form-field style="width: 100%">
            <input matInput placeholder="Search user..." [(ngModel)]="keyword" (keyup)="getUsers()" autocomplete="off">
          </mat-form-field>

          <div class="media text-muted pt-3 e css-name selectUser" *ngFor="let user of listUser;let i = index"
            (click)=" getDetail(i)" style="cursor: pointer;">
            <img class=" mr-2 rounded-circle" width="32px" height="32px" *ngIf="user.image" [src]="URL+user.image"
              style="margin-left: 5px" onerror="this.src='/assets/img/temp.png'" alt="">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-dark textOverflow">{{user.username}}</strong>
              </div>
              <span class="text-gray-dark d-block textOverflow">{{user.name}}</span>
            </div>
            <span style="color: #286FC2;margin-top: 10px;margin-right: 5px"><i class="fas fa-chevron-right"></i></span>

          </div>
          <br>
          <div class="row" style="margin-top: 5px">
            <div class="col-5 text-center">
              <button mat-raised-button color="primary" [disabled]="!isBackForm" (click)="backPage()">Back</button>
              <!-- <button class="btn btn-outline-secondary btn-sm" >Back</button> -->
            </div>
            <div class="col-2 text-center" style="margin-top: 5px;">
              {{stackPage+1}}
            </div>
            <div class="col-5 text-center">
              <button mat-raised-button color="primary" [disabled]="!isNextForm" (click)="nextPage()">Next</button>
              <!-- <button class="btn btn-primary btn-sm" >Next</button> -->
            </div>
          </div>

          <br>
        </div>
        <div class="col-lg-8 col-sm-12">
          <div class="card-body" *ngIf="userClicked;else noneUser" style="width: 100%">
            <div class="col-lg-12 col-sm-8 text-center">
              <div class="clearfix">
                <button class="btn btn-default float-right btn-circle" (click)="deleteUser(userClicked.id)"
                  matTooltip="Delete user" matTooltipPosition="below">
                  <img src="assets/icon-plus/btn-delete.png" style="margin-bottom: 3px;">
                </button>
              </div>

              <div style="margin-bottom: 10px" *ngIf="imageValue">
                <img class="shadow d-block mx-auto mb-2 rounded-circle laazy" [src]="imageValue" alt="" width="200"
                  height="200" onerror="this.src='/assets/img/img_error.png'"><br>
              </div>
              <br>
              <div>
                <div class="custom-file">
                  <input type="file" accept="image/*" class="custom-file-input" id="fileImage"
                    (change)="handleFileInputExam($event)">
                  <label class="custom-file-label browse" for="fileImage">
                    <div class="textOverflow">{{imageName}}</div>
                  </label>
                </div>
              </div>
            </div>
            <br>
            <div class="form-group">
              <div class="row ml-2">
                <p class="col-md-3">Name: </p>
                <input class="col-md-8 form-control" type="text" [(ngModel)]="userClicked.name" name="name"
                  autocomplete="off">
              </div>
              <div class="row ml-2">
                <p class="col-md-3">E-mail: </p>
                <input class="col-md-8 form-control" type="text" [(ngModel)]="userClicked.email" name="email"
                  autocomplete="off">
              </div>
              <div class="row ml-2">
                <p class="col-md-3">Phone: </p>
                <input type="text" class="col-md-8 form-control" [(ngModel)]="userClicked.tel" name="telx"
                  autocomplete="off" maxlength="10" minlength="10" (keyup)="onKeyUp($event)">
              </div>
              <div class="row ml-2">
                <p class="col-md-3">Position: </p>
                <input class="col-md-8 form-control" type="text" [(ngModel)]="userClicked.position" name="position"
                  style="width: 100vw" autocomplete="off">
              </div>
              <div class="row ml-2">
                <p class="col-md-3">Role: </p>
                <div class="col-md-8 text-center">
                  <div class="dropdown">
                    <!--Trigger-->
                    <button class=" btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                      style="width: 50%">{{roleName}}</button>
                    <!--Menu-->
                    <div class="dropdown-menu dropdown-primary" style="width: 50%">
                      <a class="dropdown-item" (click)="setRole(2,'User')" style="cursor: pointer;">User</a>
                      <a class="dropdown-item" (click)="setRole(3,'User Admin')" style="cursor: pointer;">User
                        Admin</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center" style="margin-top: 20px">
                <button class="btn btn-default btn-submit" (click)="updateProfile()">
                  Save Change</button>
              </div>
            </div>
          </div>
          <ng-template #noneUser>
            <div class="media text-muted pt-3" style="height: 100vh">
              <p class="text-muted">User is empty.</p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="PreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLongTitle">Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <div class="rounded mx-auto d-block" style="width: 100%;height: auto;">
            <img type="image" class=" image-center" [src]="newImageShow"
              style="width: 150px; height: 150px;border-radius: 20px;"><br>
          </div>
        </div>

        <br>
        <div class="custom-file">
          <input id="browseImage" type="file" accept="image/*" class="custom-file-input"
            (change)="handleSelectImage($event)">
          <label class="custom-file-label browse" for="browseImage" style="width: 100%">
            <div class="textOverflow" style="width: 100%">{{newImageName}}</div>
          </label>
        </div>
        <br><br>
        <div class="form-group row">
          <label class="col-md-4">Username</label>
          <div class="col-md-8">
            <input class="form-control" [(ngModel)]="username" type="text" autocomplete="off">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4">password</label>
          <div class="col-md-8">
            <input class="form-control" [(ngModel)]="password" type="password" autocomplete="off">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4">Confirm Password</label>
          <div class="col-md-8">
            <input class="form-control" [(ngModel)]="confirmPassword" type="password" autocomplete="off">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4">E-mail</label>
          <div class="col-md-8">
            <input class="form-control" [(ngModel)]="email" type="text" autocomplete="off">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4">Phone</label>
          <div class="col-md-8">
            <input type="text" class="form-control" (keyup)="onKeyUp($event)" maxlength="10" minlength="10"
              [(ngModel)]="phone" name="tels" autocomplete="off">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4">Select Role</label>
          <div class="col-md-8">
            <div class="col-md-9 dropdown" style="align-self: center">
              <!--Trigger-->
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">{{roleName}}</button>
              <!--Menu-->
              <div class="dropdown-menu dropdown-primary">
                <a class="dropdown-item" (click)="setRole(2,'User')" style="cursor: pointer;">User</a>
                <a class="dropdown-item" (click)="setRole(3,'User Admin')" style="cursor: pointer;">User
                  Admin</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="signUp()">Create new user</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
