.bg {
  padding-top: 30px;
}

.btuSignin {
    background-color: #2196F3;
     border:0px solid transparent;
}
.btuSignin:hover {
    background-color: #1976D2;
    box-shadow: 0 0 10px #38BBDE !important;
}
.form-signup {
    width: 100%;
    max-width: 330px;
    margin: auto;
}

form {
    display: block;
    margin-top: 0em;

}
.text-center {
    text-align: center!important;
}


.div-padding {
    padding: 50px;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.cardHeader {
    background-color: #e2e2e2;
}
.card-body {
    /* background-color: #f5f5f5; */
  background: rgba(255, 255, 255, 0.35);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  width: 500px;
  position: center;

  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.divBg {
    background: #1976D2; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #1976D2, #BBDEFB);
    background: -moz-linear-gradient(right, #1976D2, #BBDEFB);
    background: -o-linear-gradient(right, #2196F3, #BBDEFB);
    background: linear-gradient(to left, #2196F3, #BBDEFB);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    width: 100vw;
}

a:hover {
    color: #FFFFFF;
}

.iconBack {
    color: #0A2455;
}
.iconBack:hover {
    color: #0E1A40;
}
.text-title {
  color: #0A2455;
}
.btn-color {
  color: #FFFFFF;
  background-color: #0A2455;
}
.btn-color:hover {
background-color: #0E1A40;
}
.selectUser:hover {
  color: #757575;
  background-color: rgb(231, 231, 231);
}

.breadcrumb-set {
  background-color: #FFFFFF;
  margin-bottom: 0px;
  padding-bottom: 5px;
  padding-top: 5px
}

.browse::after {
  font-family: "Font Awesome 5 Free";
  content: "\f03e" !important;
}
.textOverflow {
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 0px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.btn-submit {
  color: #FFFFFF;
  background-color: #3885DE;
}
.btn-submit:hover {
  background-color: #286FC2;
}
div.textOverflow {
  white-space: nowrap;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

