<h1 mat-dialog-title>Edit Answer</h1>
<div mat-dialog-content style="height: 400px">
  <div *ngIf="data.myAnswer">
    <div class="container" *ngIf="data.myAnswer.data">
      <div class="text-center">

        <div class="row">
          <div class="col-sm">

          </div>
          <div class="col-sm">

          </div>
          <div class="col-sm">

          </div>
        </div>

        <div class="text-center" *ngIf="data.questionData">
          <form>
            <div class="list-group mb-3">

              <div class="" *ngFor="let list of data.questionData.item; let i = index">
                <div>
                  <div class="form-inline">
                    <h6 class="my-0 float-left">{{i+1}}.&nbsp;{{list.title}}</h6>
                    <a *ngIf="data.isRequired[i]">
                      <p class="text-required">*</p>
                    </a>
                  </div>

                  <br>
                  <div *ngIf="data.bool.isDate[i]">
                    <!-- Date -->
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="picker" placeholder="Choose a date"
                        matTooltip="{{list.description}}" matTooltipPosition="right" [(ngModel)]="list.value"
                        name="date{{i}}">
                      <mat-datepicker-toggle matSuffix [for]="picker" matTooltip="{{list.description}}"
                        matTooltipPosition="right"></mat-datepicker-toggle>
                      <mat-datepicker touchUi #picker matTooltip="{{list.description}}" matTooltipPosition="right">
                      </mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="row" *ngIf="data.bool.isDatetime[i]">
                    <!-- Datetime -->
                    <div class="form-check-inline col-lg-6 col-sm-12">

                      <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date"
                          matTooltip="{{list.description}}" matTooltipPosition="right"
                          (dateChange)="EndDateChange($event,i)" [(ngModel)]="list.value" name="fordatedate{{i}}">
                        <mat-datepicker-toggle matSuffix [for]="picker" matTooltip="{{list.description}}"
                          matTooltipPosition="right"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker matTooltip="{{list.description}}" matTooltipPosition="right">
                        </mat-datepicker>
                      </mat-form-field>
                      <input class="form-control col-6" [ngxTimepicker]="pickerz" [format]="24"
                        [(ngModel)]="data.timeOfDatetime[i]" name="datetimeForm{{i}}" matTooltip="{{list.description}}"
                        matTooltipPosition="right" placeholder="Choose a time (12:30 pm)" style="margin-left: 10px">
                      <ngx-material-timepicker #pickerz (closed)="closeTime(i)"></ngx-material-timepicker>
                    </div>


                  </div>
                  <div *ngIf="data.bool.isString[i]">

                    <input type="text" class="form-control" [(ngModel)]="list.value" name="stringForm{{i}}"
                      autocomplete="off" matTooltip="{{list.description}}" matTooltipPosition="right">
                  </div>
                  <div *ngIf="data.bool.isText[i]">

                    <textarea class="form-control" cols="50" rows="5" [(ngModel)]="list.value" name="textForm{{i}}"
                      autocomplete="off" matTooltip="{{list.description}}" matTooltipPosition="right"></textarea>
                  </div>
                  <div *ngIf="data.bool.isInt[i]">

                    <input type="number" min="0" step="1" class="form-control" [(ngModel)]="list.value"
                      name="intForm{{i}}" autocomplete="off" matTooltip="{{list.description}}"
                      matTooltipPosition="right">
                  </div>
                  <div *ngIf="data.bool.isFloat[i]">

                    <input type="number" step="0.01" class="form-control" [(ngModel)]="list.value" name="floatForm{{i}}"
                      autocomplete="off" matTooltip="{{list.description}}" matTooltipPosition="right">
                  </div>
                  <div *ngIf="data.bool.isCheck[i]">

                    <ul class="list-group" *ngIf="data.checkboxData" matTooltip="{{list.description}}"
                      matTooltipPosition="right">
                      <li class="list-group-item"
                        *ngFor="let check of data.questionData.item[i].dropdown;let j = index">
                        <div class="custom-control custom-checkbox custom-control-inline">
                          <input type="checkbox" class="custom-control-input" id="defaultInline{{i}}{{j}}"
                            (click)="checkboxSelect(i,j)" [(ngModel)]="check.boolean" name="checkbox_value{{i}}{{j}}">
                          <label class="custom-control-label"
                            for="defaultInline{{i}}{{j}}">{{check.dropdown_value}}</label>
                        </div>
                      </li>
                    </ul>


                  </div>
                  <div *ngIf="data.bool.isImage[i]">

                    <div class="custom-file">
                      <input type="file" accept="image/*" class="custom-file-input" id="fileImage"
                        (change)="handleFileInputExam($event,i)" matTooltip="{{list.description}}"
                        matTooltipPosition="right" multiple>
                      <label class="custom-file-label" for="fileImage">Choose Image</label>
                    </div>
                    <div *ngIf="data.imageShow" style="margin-top: 5px">
                      <div class="form-check-inline" *ngFor="let img of data.imageShow[i].values;let j = index">
                        <div class="row">
                          <div class="col">
                            <img type="image" class="img rounded" [src]="img.image"
                              style="width: 150px; ;height: 150px;">
                          </div>
                          <div class="col">
                            <button mat-raised-button color="warn" (click)="deleteImage(i,j)">
                              <i class="fas fa-trash"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div *ngIf="data.bool.isFile[i]">

                    <div class="custom-file">
                      <!-- <input type="file" accept="*" (change)="handleFile($event,i)" matTooltip="{{list.description}}"
                        placeholder="test1" matTooltipPosition="right"> -->

                      <input type="file" accept="*" class="custom-file-input" id="fileInput"
                        (change)="handleFile($event,i)" matTooltip="{{list.description}}" matTooltipPosition="right">
                      <label class="custom-file-label" for="fileInput">{{data.fileValue[i].name}}</label>
                    </div>


                  </div>
                  <div *ngIf="data.bool.isDropdown[i]">
                    <div class="row">
                      <div class="col-6">
                        <div class="btn-group" style="width: 100%;">
                          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" matTooltip="{{list.description}}"
                            matTooltipPosition="right">
                            {{data.selectDropdown[i]}}
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item"
                              *ngFor="let item of data.questionData.item[i].dropdown;let j = index"
                              (click)="dropdownSelect(item.dropdown_value,i,j)" style="cursor: pointer">
                              {{item.dropdown_value}}
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">

                      </div>
                    </div>


                  </div>



                </div>
                <hr>
              </div>

            </div>

            <!-- <button class="btn btn-success float-right" (click)="editAnswer()"
              style="margin-bottom: 10px">Submit</button> -->
          </form>
        </div>
      </div>


    </div>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="editAnswer()" cdkFocusInitial>Save Change</button>
  <button mat-raised-button (click)="onNoClick()">Close</button>
</div>
