<div role="main" class="container" *ngIf="formData">
  <nav aria-label="breadcrumb" style="margin-top: 7px;">
    <ol class="breadcrumb breadcrumb-set">
      <li class="breadcrumb-item"><a routerLink="/groups"><i class="fas fa-home"></i> Home</a></li>
      <li class="breadcrumb-item form-overflow"><a routerLink="/groups/{{groupId}}">{{groupName}}</a></li>
      <li class="breadcrumb-item form-overflow active">{{formName}}</li>
    </ol>
  </nav>
  <div class="jumbotron p-3 text-white titleBg rounded">
    <div class="row">
      <div class="col-3 text-center">
        <img class="img-fluid rounded" [src]="HOST_URL + formData.form.image" style="width: 150px; ;height: 150px"
          onerror="this.src='/assets/img/img_error.png'" alt="">
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-lg-8 col-sm-12">
            <h4 class="title-text"><strong>{{formData.form.title}}</strong></h4>
          </div>
          <div class="col-lg-4">
            <div class="">
              <button class="btn btn-default iconHover" (click)="editForm()" routerLink="../../../../edit/{{formId}}"
                *ngIf="isOwner" matTooltip="Edit form" matTooltipPosition="below">
                <i class="far fa-edit "></i>
              </button>
              <button class="btn btn-default iconHover" (click)="exportAsXLSX()" matTooltip="Export"
                matTooltipPosition="below">
                <i class="fas fa-file-export"></i>
              </button>
              <button class="btn btn-default iconHover" data-toggle="modal" data-target="#addShareModal" *ngIf="isOwner"
                matTooltip="Share" matTooltipPosition="below">
                <i class="fas fa-share-alt "></i>
              </button>
              <button class="btn btn-default iconHover" (click)="showInfo()" routerLink="./info"
                matTooltip="Image / File" matTooltipPosition="below">
                <i class="far fa-file "></i>
              </button>
              <button class="btn btn-default iconDelete" (click)="deleteForm()" *ngIf="isOwner" matTooltip="Delete form"
                matTooltipPosition="below">
                <i class="fas fa-trash "></i>
              </button>
            </div>

          </div>
        </div>
        <div class="row">
          <h5><small class="title-subtext" style="margin-left: 20px">{{formData.form.description}}</small></h5>

        </div>
        <div class="row">
          <h5><small class="title-subtext" style="margin-left: 20px">
              <a style="color: #FF8C00">Created by</a>
              {{formData.form.name}}</small><br></h5>
        </div>
      </div>
    </div>
  </div>

  <div class="p-3 bg-white rounded shadow" style="margin-bottom: 40px" *ngIf="answerData">
    <div class="row clearfix align-middle">
      <div class="col-lg-4 col-sm-12 clearfix">
        <h6 class="float-left" style="margin-bottom: 0px;line-height: 2;width: 65%;">All List</h6>
        <h6 class="float-right" style="line-height: 2">Results {{resultNumber}}</h6>
      </div>
      <div class="col-lg-8 col-sm-12">
        <div class="row">
          <div class="col-lg-6" style=margin-bottom:6px>
            <button class="btn btn-default btn-sm  btn-search btn-block" routerLink="./advancesearch">
              <i class="fas fa-search"></i>&nbsp;Advance Search</button>
          </div>
          <div class="col-lg-6">
            <button class="btn btn-default btn-sm btn-list btn-block" routerLink="./answer">
              <i class="fas fa-plus"></i>&nbsp; Make a Questionnaire</button>
          </div>

        </div>
      </div>
    </div>

    <hr>
    <div>
      <div class="row">
        <div class="col-lg-4 col-sm-12 shadow-sm" style="padding-top: 10px;padding-bottom: 10px">

          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Search
                </mat-panel-title>
                <mat-panel-description>
                  name and date
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-form-field style="width: 100%">
                <input matInput placeholder="Search name" [(ngModel)]="searchKeyword" (keyup)="getAnswerFormAll()"
                  autocomplete="off">
              </mat-form-field>
              <div i18n>
                <mat-form-field class="example-full-width" style="width: 45%">
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="searchDateStart"
                    name="date{{i}}" (dateChange)="getAnswerFormAll()" disabled>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker touchUi #picker disabled="false">
                  </mat-datepicker>
                </mat-form-field>
                <label style="margin-top: 15px">To</label>
                <mat-form-field class="example-full-width" style="width: 45%;margin-left: 5px">
                  <input matInput [matDatepicker]="pickerg" placeholder="Choose a date" [(ngModel)]="searchDateEnd"
                    name="date{{i}}" (dateChange)="getAnswerFormAll()" disabled>
                  <mat-datepicker-toggle matSuffix [for]="pickerg"></mat-datepicker-toggle>
                  <mat-datepicker touchUi #pickerg disabled="false">
                  </mat-datepicker>
                </mat-form-field>
              </div>
            </mat-expansion-panel>
          </mat-accordion>


          <div *ngIf="isAnswerData" style="margin-top: 10px">
            <div class="media text-muted p-2 e css-name" *ngFor="let show of answerData.user_form;let i = index"
              (click)=" getDetail(i)" style="width: 100%">

              <img *ngIf="show.image" class=" bd-placeholder-img mr-2 rounded-circle" width="32" height="32"
                [src]="HOST_URL+show.image" style="margin-left: 10px" onerror="this.src='/assets/img/temp.png'" alt="">
              <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" style="width: 100%">
                <div class="d-flex justify-content-between align-items-center w-100">
                  <strong class="text-gray-dark">{{show.name}}</strong>
                </div>
                <span class="d-block">{{show.updated_at | datetimeCustom: show.updated_at}}</span>
              </div>
              <span style="color: #286FC2;margin-top: 10px;margin-right: 5px"><i
                  class="fas fa-chevron-right"></i></span>
            </div>
          </div>



          <div class="row" style="margin-top: 5px">
            <div class="col-5 text-center">
              <button mat-raised-button color="primary" [disabled]="!isBackForm" (click)="backPage()">Back</button>
            </div>
            <div class="col-2 text-center" style="margin-top: 5px;">
              {{stackPage+1}}
            </div>
            <div class="col-5 text-center">
              <button mat-raised-button color="primary" [disabled]="!isNextForm" (click)="nextPage()">Next</button>
            </div>
          </div>
        </div>

        <div class="col-lg-8 col-sm-12">
          <div>
            <main class="container">

              <div *ngIf="myAnswer;else noneAnswer">

                <div class="blog-post my-2">
                  <div class="row">
                    <div class="col-2">
                      <img class=" bd-placeholder-img mr-2 rounded-circle " width="60" height="60"
                        [src]="HOST_URL+myAnswer.creater.image" onerror="this.src='/assets/img/img_error.png'" alt="">
                    </div>
                    <div class="col-10">
                      <div class="row">
                        <h4>{{myAnswer.creater.username}}</h4>
                      </div>
                      <div class="row form-inline">
                        <div class="clearfix">
                          <div class="float-left">
                            <p class="text-muted">Created:
                              {{myAnswer.creater.created_at | datetimeCustom: myAnswer.creater.created_at}}
                            </p>
                          </div>
                          <div *ngIf="isOwnerAnswer">
                            <button mat-raised-button color="accent" (click)="openDialog()">
                              <i class="far fa-edit"></i> Edit</button>
                            <button mat-raised-button color="warn" (click)="deleteAnswer()" style="margin-left: 8px;">
                              <i class="fas fa-trash"></i> Delete</button>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <hr style="width:100%">
                <div class="blog-post" *ngFor="let ans of myAnswer.data;let i = index">
                  <div class="form-inline">
                    <h3><small style="color: #212121">{{i+1}}.&nbsp;{{ans.question}}</small></h3>
                  </div>

                  <p style="color: #FF8C00">Answer: </p>
                  <div class="form-check-inline" *ngFor="let ansItem of ans.answer">
                    <p class="form-inline" style="color: #757575"
                      *ngIf="!isImage[i] && !isFile[i] && !isDate[i] && !isDatetime[i] && !isCheckbox[i]">
                      {{ansItem.value}}
                    </p>
                    <p style="color: #757575" *ngIf="isDate[i]">
                      {{ansItem.value | dateCustom: ansItem.value}}
                    </p>
                    <p style="color: #757575" *ngIf="isDatetime[i]">
                      {{ansItem.value | datetimeCustom: ansItem.value}}
                    </p>
                    <p style="color: #757575" *ngIf="isCheckbox[i]">
                      {{ansItem.value}}
                    </p>

                  </div>
                  <div *ngIf="isImage[i]">
                    <div *ngIf="ans.answer">
                      <div *ngFor="let img of ans.answer[0].values">
                        <div>
                          <br>
                          <img class="mr-3 rounded" [src]="HOST_URL + img.image" style="width: 300px;height: 300px;"
                            onerror="this.src='/assets/img/img_error.png'" alt="">
                        </div>
                      </div>
                    </div>

                  </div>
                  <div *ngIf="isFile[i]">
                    <div class="form-check-inline" *ngFor="let ansItem of ans.answer">
                      <div (click)="textPDF(i)">
                        <img class="" src="assets/img/file.png" alt="Files" width="30" height="30">
                        <button class="btn btn-default">
                          <h6 class="file-hover">
                            {{ansItem.filename}}
                          </h6>
                        </button>
                      </div>

                    </div>
                  </div>
                  <hr>
                </div>
              </div>
              <ng-template #noneAnswer>
                <div class="media text-muted pt-3" style="height: 100vh">
                  <p class="text-muted">Answer is empty.</p>
                </div>
              </ng-template>
            </main>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addShareModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Share Form User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div>
          <div class="form-check-inline">
            <label>Username:</label>&nbsp;
            <input [(ngModel)]="username" [typeahead]="Users" typeaheadOptionField="username"
              (typeaheadOnSelect)="onSelect($event)" class="form-control" (keyup)="searchAllUsers()"
              typeaheadWaitMs="1000">
            <button class="btn btn-success ml-2" (click)="addShareform()">Add</button>
          </div>
          <br>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Option</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of shareUser[0];let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{item.name}}</td>
                <td>
                  <button class="btn btn-outline-danger btn-sm" (click)="deleteShareUser(item.user_id)">
                    <i class="fas fa-times"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
