.title-text {
  color: #FFFFFF;
}
.title-subtext {
  color: #DEDEDE;
}
.btn-list {
  color: #FFFFFF;
  background-color: #39305B;
}
.btn-list:hover {
  background-color: rgb(40, 33, 65);
}
.btn-search {
  color: #FFFFFF;
  background-color: #656565;
}
.btn-search:hover {
  background-color: #424242;
}


.titleBg {
    background-color: #39305B;
}
.iconHover {
  color: #FFFFFF;
}
.iconHover:hover {
  color: #2793E8;
}
.iconDelete {
  color: #FFFFFF;
}
.iconDelete:hover {
  color: rgb(233, 69, 69);
}

.e:hover{
  color: #757575;
  background-color: rgb(231, 231, 231);
}

.media.css-name {
  cursor: pointer;

}

.example-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.breadcrumb-set {
  background-color: #FFFFFF;
  margin-bottom: 0px;
  padding-bottom: 5px;
  padding-top: 5px
}

.btn-option:hover {
  background-color: rgb(45, 38, 71);
  color: #FFFFFF;
}

.file-newline {
  white-space: pre-wrap;
}

.form-overflow {
  white-space: nowrap;
  width: 200px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  background: transparent;
  border: 0 none;
}

