<div class="container">
  <div class="row" *ngIf="groupData">
    <div class="col-lg-12 my-2" style="line-height: 2;">
      <div class="row form-inline">
        <div class="col-lg-6 row">
          <div class="col-lg-4 col-sm-12">
            <h2 class="float-left text-black">Home</h2>
          </div>
          <div class="col-lg-8 col-sm-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-set">
                <li class="breadcrumb-item active"><a><i class="fas fa-home"></i> Home</a></li>
                <li class="breadcrumb-item active"><a>Groups</a></li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="col-lg-6 row">
          <div class="col-8">
            <mat-form-field>
              <input matInput placeholder="Search..." [(ngModel)]="keywords" (keyup)="getGroups()" autocomplete="off">
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-12" style=margin-top:16px>
            <button *ngIf="isAdmin" class="btn btn-sm btu-newgroup" routerLink="./new">
              <i class="fas fa-plus"></i> New
              Group
            </button>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="row" *ngIf="!isEmptyGroup;else nonegroupData">
        <div class="col-lg-3 col-sm-6 mb-4" style="margin-top: 20px;width: 50%"
          *ngFor="let item of groupData.groups;let i = index">
          <div class="hovereffect" (click)="selectGroup(i)">
            <div *ngIf="item.image">
              <img class="img-responsive img-fluid d-block mx-auto shadow lazy"
                style="width: 200px; ;height:200px;border-radius: 20px;" onerror="this.src='/assets/img/img_error.png'"
                alt="Not Found" [src]="HOST_URL + item.image" data-src="HOST_URL + item.image">
            </div>
            <div class="overlay">
              <small>
                <h2 class="textOverflow">
                  {{item.title}}
                </h2>
              </small>
              <p>
                <textarea class="tatextOverflowx" style="color: aliceblue" rows="7"
                  disabled>{{item.description}}</textarea>
              </p>
            </div>
            <small>
              <h6 class="textOverflow">
                {{item.title}}
              </h6>
            </small>
          </div>
        </div>
      </div>
    </div>

    <ng-template #nonegroupData>
      <div style="margin-top: 20px">
        <p class="text-muted">Groups is empty.</p>
      </div>
    </ng-template>

    <div class="text-center" *ngIf="isLoadForm">
      <button mat-raised-button color="accent" (click)="loadForm()">See more...</button>
    </div>


  </div>
</div>
