<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-set">
    <li class="breadcrumb-item"><a routerLink="/groups"><i class="fas fa-home"></i> Home</a></li>
    <li class="breadcrumb-item form-overflow"><a routerLink="/groups/{{groupId}}">{{groupName}}</a></li>
    <li class="breadcrumb-item form-overflow"><a routerLink="/groups/{{groupId}}/show/{{formId}}">{{formName}}</a></li>
    <li class="breadcrumb-item active">Info</li>
  </ol>
</nav>


<mat-tab-group>
  <mat-tab label="Images">
    <div class="container" style="padding-bottom: 20px">

      <div class="row" style="margin-top: 20px">
        <div class="col-lg-1 col-sm-12" style="margin-top: 20px;">
          Search
        </div>
        <div class="col-lg-3 col-sm-12">
          <mat-form-field>
            <input matInput [matDatepicker]="pre_img_date" placeholder="Choose a date" autocomplete="off"
              [(ngModel)]="searchPreImage" (dateChange)="getInfoImage()" disabled>
            <button mat-button *ngIf="searchPreImage" matSuffix mat-icon-button aria-label="Clear"
              (click)="searchPreImage='';getInfoImage()">
              <mat-icon>close</mat-icon>
            </button>
            <mat-datepicker-toggle matSuffix [for]="pre_img_date"></mat-datepicker-toggle>
            <mat-datepicker touchUi disabled="false" #pre_img_date></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-1 text-center" style="margin-top: 20px;">
          To
        </div>
        <div class="col-lg-3 col-sm-12">
          <mat-form-field>
            <input matInput [matDatepicker]="af_img_date" placeholder="Choose a date" autocomplete="off"
              [(ngModel)]="searchAfImage" (dateChange)="getInfoImage()" disabled>
            <button mat-button *ngIf="searchAfImage" matSuffix mat-icon-button aria-label="Clear"
              (click)="searchAfImage='';getInfoImage()">
              <mat-icon>close</mat-icon>
            </button>
            <mat-datepicker-toggle matSuffix [for]="af_img_date"></mat-datepicker-toggle>
            <mat-datepicker touchUi disabled="false" #af_img_date></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="row" style="margin-top: 20px" *ngIf="!imagenull;else noneImageData">

        <mat-accordion style="width: 100%">
          <mat-expansion-panel *ngFor="let dataImage of dataImageValue;let i = index">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Date: {{dataImage.date | dateCustom: dataImage.date}}
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="text-center" *ngIf="dataImage.data">
              <div class="form-check-inline" *ngFor="let img of dataImage.data;let j = index">
                <img *ngIf="img.image" class="img-responsive img-fluid d-block mx-auto shadow lazy"
                  [src]="HOST_URL + img.image" style="width: 200px; ;height:200px;border-radius: 20px;cursor: pointer;"
                  data-toggle="modal" data-target="#imageModal" (click)="selectImage(img.image)"
                  onerror="this.src='/assets/img/img_error.png'" alt="">
              </div>
            </div>
            <div class="text-center"><button class="btn btn-success" (click)="DownloadAll(i)">Download All</button></div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <ng-template #noneImageData>
      <div style="margin-top: 20px">
        <p class="text-muted">Image is empty.</p>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Files">
    <div class="container" style="padding-bottom: 20px">
      <div class="row" style="margin-top: 20px">
        <div class="col-lg-1 col-sm-12" style="margin-top: 20px;">
          Search
        </div>
        <div class="col-lg-3 col-sm-12">
          <mat-form-field>
            <input matInput [matDatepicker]="pre_file_date" placeholder="Choose a date" autocomplete="off"
              [(ngModel)]="searchPreDate" (dateChange)="getInfoFile()" disabled>
            <button mat-button *ngIf="searchPreDate" matSuffix mat-icon-button aria-label="Clear"
              (click)="searchPreDate='';getInfoFile()">
              <mat-icon>close</mat-icon>
            </button>
            <mat-datepicker-toggle matSuffix [for]="pre_file_date"></mat-datepicker-toggle>
            <mat-datepicker touchUi disabled="false" #pre_file_date></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-1 text-center" style="margin-top: 20px;">
          To
        </div>
        <div class="col-lg-3 col-sm-12">
          <mat-form-field>
            <input matInput [matDatepicker]="af_file_date" placeholder="Choose a date" autocomplete="off"
              [(ngModel)]="searchAfDate" (dateChange)="getInfoFile()" disabled>
            <button mat-button *ngIf="searchAfDate" matSuffix mat-icon-button aria-label="Clear"
              (click)="searchAfDate='';getInfoFile()">
              <mat-icon>close</mat-icon>
            </button>
            <mat-datepicker-toggle matSuffix [for]="af_file_date"></mat-datepicker-toggle>
            <mat-datepicker touchUi disabled="false" #af_file_date></mat-datepicker>
          </mat-form-field>
        </div>
      </div>


      <div class="row" style="margin-top: 20px" *ngIf="!filenull;else noneFileData">

        <mat-accordion style="width: 100%">
          <mat-expansion-panel *ngFor="let dataFile of dataFileValue;let i = index">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Date: {{dataFile.date | dateCustom: dataFile.date}}
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="text-center" *ngIf="dataFile.data">
              <div class="form-check-inline" *ngFor="let file of dataFile.data;let j = index">
                <div (click)="fileDownload(j)">
                  <button class="btn btn-outline-success">
                    <img src="assets/img/file.png" alt="Files" width="30" height="30">
                    <h6>{{file.filename}}</h6>
                  </button>
                </div>
              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </div>

    </div>

    <ng-template #noneFileData>
      <div style="margin-top: 20px">
        <p class="text-muted">File is empty.</p>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img [src]="HOST_URL + showImage" style="width: 100%;max-width: 100%">
      </div>
    </div>
  </div>
</div>
