<div class="bg">
  <div class="container">
    <div class="p-3 bg-white rounded shadow-sm border text-center" style="margin-bottom: 40px;margin-top: 20px">
      <div class="text-center">
        <h3 style="color: cornflowerblue">Reset Your Password!</h3>
        <h5 class="text-muted"><small>Enter your password.</small></h5>

        <mat-form-field>
          <input matInput type="password" placeholder="pin" [(ngModel)]="newpassword" name="newpass_value"
            autocomplete="off" [type]="isNewPassHide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="isNewPassHide = !isNewPassHide" style="cursor:pointer">
            {{isNewPassHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput type="password" placeholder="pin" [(ngModel)]="confirmpassword" name="confirmpass_value"
            autocomplete="off" [type]="isConfirmPassHide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="isConfirmPassHide = !isConfirmPassHide" style="cursor:pointer">
            {{isConfirmPassHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
      </div>
      <p style="color: brown">{{alertText}}</p>
      <button class="btn btn-secondary" routerLink="/forgotpassword">Back</button>
      <button class="btn btn-success" style="margin-left: 10px" (click)="checkPassword()" [disabled]="isSubmitClicked"
        type="submit">
        <div *ngIf="isLoadingPin" class="spinner-border spinner-border-sm text-light" role="status">
          <span class="sr-only">Loading...</span>
        </div>Confirm
      </button>

    </div>
  </div>
</div>
