<div class="bg">
  <mat-tab-group>
    <mat-tab label="Edit Group">
      <app-groupedit></app-groupedit>
    </mat-tab>
    <mat-tab label="New Groups">
      <div class="container" style="margin-bottom: 20px">
        <div class="row">
          <div class="col-lg-8 col-sm-12">
            <div class="row my-4">
              <div class="col-lg-3 col-sm-12" style="margin-top: 13px;">
                <h4 class=" text-dark">New Group</h4>
              </div>
              <div class="col-lg-9 col-sm-12">
                <nav aria-label="breadcrumb" style="margin-top: 10px;">
                  <ol class="breadcrumb breadcrumb-set">
                    <li class="breadcrumb-item"><a routerLink="/groups">Group</a></li>
                    <li class="breadcrumb-item active"><a>New</a></li>
                  </ol>
                </nav>
              </div>
            </div>
            <form>

              <label for="firstName">Title</label>
              <input type="text" class="form-control" id="formName" [(ngModel)]="title" name="nameForm"
                autocomplete="off">

              <br>
              <label for="lastName">Description</label>
              <textarea class="form-control" id="lastName" placeholder="some description..." value="" required=""
                [(ngModel)]="description" name="disForm" cols="2" rows="5"></textarea>

            </form>

          </div>
          <div class="col-lg-4 col-sm-12">
            <h4 class="align-items-center my-4 text-dark">
              <span class="">Image Group</span>
              <h6 class="text-muted" style="margin-top: 10px;"><small>File format: JPEG, PNG (recommended 150x150px, max
                  10MB)</small></h6>
            </h4>
            <ul class="list-group mb-3 shadow-sm">
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div style="width: 100%">
                  <div class="custom-file">
                    <input id="browseImage" type="file" accept="image/*" class="custom-file-input"
                      (change)="handleImageInput($event)">
                    <label class="custom-file-label browse" for="browseImage" style="width: 100%">
                      <div class="textOverflow" style="width: 100%">{{imageName}}</div>
                    </label>
                  </div>
                </div>
              </li>
              <br>
              <div style="width: 100%;height: auto;">
                <div class="" style="width: 100%;height: auto;">
                  <img type="image" class=" mx-auto d-block" [src]="imageShow"
                    style="width: 150px; height: auto;border-radius: 20px; "><br>
                </div>
              </div>
            </ul>
          </div>

        </div>

        <hr>
        <button class="btn btn-default btn-block btn-submit" type="submit" (click)="createGroup()">
          Create New Group
        </button>
        <hr>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
