.breadcrumb-set {
  background-color: #FFFFFF;
  margin-bottom: 0px;
  padding-bottom: 5px;
  padding-top: 5px
}
.textOverflow {
  white-space: nowrap;
  width: 800px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;

}
div.textOverflow {
  white-space: nowrap;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.browse::after {
  font-family: "Font Awesome 5 Free";
  content: "\f03e" !important;
}

.btn-submit {
  color: #FFFFFF;
  background-color: #3885DE;
}
.btn-submit:hover {
  background-color: #286FC2;
}
