<div class="container my-2">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="float-left text-black">Intern Team</h2>
    </div>
  </div>

  <div class="row" style="margin-top: 20px">
    <div class="col-lg-1 text-center">
    </div>
    <div class="col-lg-2 text-center zoom" style="margin-bottom: 10px" *ngFor="let user of userData;let i = index">
      <mat-card class="example-card">
        <img mat-card-image class="img-custom" [src]="user.image">
        <mat-card-content>
          <mat-card-subtitle style="color:#FF8C00">{{user.role}}</mat-card-subtitle>
          <hr>
          <strong>{{user.name}}</strong>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-1 text-center">
    </div>
  </div>

</div>
