<div class="container" *ngIf="formItem">
  <div class="row my-4">
    <div class="col-lg-4 col-sm-12">
      <h2 class="float-left text-black">Advance Search</h2>
    </div>
    <div class="col-lg-8 col-sm-12">
      <nav aria-label="breadcrumb" style="margin-top: 7px;">
        <ol class="breadcrumb breadcrumb-set">
          <li class="breadcrumb-item"><a routerLink="/groups"><i class="fas fa-home"></i> Home</a></li>
          <li class="breadcrumb-item form-overflow"><a routerLink="/groups/{{groupId}}">{{groupName}}</a></li>
          <li class="breadcrumb-item form-overflow"><a routerLink="/groups/{{groupId}}/show/{{formId}}">{{formName}}</a>
          </li>
          <li class="breadcrumb-item active">Advance Search</li>
        </ol>
      </nav>
    </div>
  </div>


  <form class="my-4 p-3 bg-white rounded shadow-sm">
    <div *ngFor="let item of formItem.item;let i = index">
      <span *ngIf="item.av_search">
        <div class="row">
          <div class="form-check-inline">
            <div class="col-1 text-center">
              {{item.order_no}}
            </div>
            <div class="col-11">
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="inputInline{{i}}" (click)="radioChange(i)">
                <label class="custom-control-label" for="inputInline{{i}}">{{item.title}}</label>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-1">

          </div>
          <div class="col-11">
            <div *ngIf="radioChk[i]">
              <div *ngIf="isTextbox[i]">
                <input type="search" class="form form-control" [(ngModel)]="item.value" name="name_value{{i}}">
              </div>
              <div *ngIf="item.data_type_id === 5">
                <div class="form-group row">
                  <input type="number" class="form-control col-4" [(ngModel)]="item.value" name="number_value{{i}}"
                    style="margin-left: 15px">
                  &nbsp;<p class="text-center col-1" style="margin-left: 10px;margin-right: 10px">To</p>
                  <input type="number" class="form-control col-4" [(ngModel)]="endInt" name="number_value{{i}}"
                    style="margin-left: 20px">
                </div>
              </div>
              <div *ngIf="item.data_type_id === 6">
                <div class="form-group row">
                  <input type="number" class="form-control col-4" [(ngModel)]="item.value" name="number_value{{i}}"
                    style="margin-left: 15px">
                  &nbsp;<p class="text-center col-1" style="margin-left: 10px;margin-right: 10px">To</p>
                  <input type="number" class="form-control col-4" [(ngModel)]="endFloat" name="number_value{{i}}"
                    style="margin-left: 20px">
                </div>
              </div>
              <div *ngIf="isDate[i]">
                <div class="form-group row">
                  <div class="col-lg-5 col-sm-12">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                      <input matInput [matDatepicker]="picker" placeholder="Choose a date"
                        matTooltip="{{item.description}}" matTooltipPosition="right" [(ngModel)]="item.value"
                        name="date{{i}}" disabled>
                      <mat-datepicker-toggle matSuffix [for]="picker" matTooltip="{{item.description}}"
                        matTooltipPosition="right"></mat-datepicker-toggle>
                      <mat-datepicker touchUi #picker disabled="false" matTooltip="{{item.description}}"
                        matTooltipPosition="right">
                      </mat-datepicker>
                    </mat-form-field>
                  </div>
                  <p class="col-lg-1 col-sm-12" style="margin-top: 20px;margin-left: 30px">To</p>
                  <div class="col-lg-5 col-sm-12">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                      <input matInput [matDatepicker]="pickerz" placeholder="Choose a date"
                        matTooltip="{{item.description}}" matTooltipPosition="right" [(ngModel)]="endDate"
                        name="date{{i}}" style="width: 100%" disabled>
                      <mat-datepicker-toggle matSuffix [for]="pickerz" matTooltip="{{item.description}}"
                        matTooltipPosition="right"></mat-datepicker-toggle>
                      <mat-datepicker touchUi #pickerz disabled="false" matTooltip="{{item.description}}"
                        matTooltipPosition="right">
                      </mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div *ngIf="isDatetime[i]">
                <div class="form-group row">
                  <div class="col-lg-5 col-sm-12 form-check-inline">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="pickert" placeholder="Choose a date"
                        matTooltip="{{item.description}}" matTooltipPosition="right"
                        (dateChange)="EndDateChangeLeft($event,i)" disabled>
                      <mat-datepicker-toggle matSuffix [for]="pickert" matTooltip="{{item.description}}"
                        matTooltipPosition="right"></mat-datepicker-toggle>
                      <mat-datepicker touchUi #pickert disabled="false" matTooltip="{{item.description}}"
                        matTooltipPosition="right">
                      </mat-datepicker>
                    </mat-form-field>
                    <input class="form-control" [ngxTimepicker]="pickerts" [format]="24" [(ngModel)]="timeLeft[i]"
                      name="datetimeForm{{i}}" matTooltip="{{item.description}}" matTooltipPosition="right"
                      placeholder="Choose a time (12:30)" style="margin-left: 10px;margin-bottom: 10px">
                    <ngx-material-timepicker #pickerts></ngx-material-timepicker>
                  </div>
                  <p class="col-lg-1 col-sm-12" style="margin-top: 20px;margin-left: 20px">To</p>
                  <div class="col-lg-5 col-sm-12 form-check-inline">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="pickerTend" placeholder="Choose a date"
                        matTooltip="{{item.description}}" matTooltipPosition="right"
                        (dateChange)="EndDateChangeRight($event,i)" disabled>
                      <mat-datepicker-toggle matSuffix [for]="pickerTend" matTooltip="{{item.description}}"
                        matTooltipPosition="right"></mat-datepicker-toggle>
                      <mat-datepicker touchUi #pickerTend disabled="false" matTooltip="{{item.description}}"
                        matTooltipPosition="right">
                      </mat-datepicker>
                    </mat-form-field>
                    <input class="form-control" [ngxTimepicker]="pickertsend" [format]="24" [(ngModel)]="timeRight[i]"
                      name="datetimeForm{{i}}" matTooltip="{{item.description}}" matTooltipPosition="right"
                      placeholder="Choose a time (12:30)" style="margin-left: 10px;margin-bottom: 10px">
                    <ngx-material-timepicker #pickertsend></ngx-material-timepicker>
                  </div>
                </div>
              </div>
              <div *ngIf="isCheckbox[i]">
                <div class="ml-2 custom-control custom-checkbox custom-control-inline"
                  *ngFor="let choices of item.dropdown;let j = index">
                  <input type="checkbox" class="custom-control-input" id="defaultInline{{i}}{{j}}"
                    (click)="setValueCheckbox(i,j)">
                  <label class="custom-control-label" for="defaultInline{{i}}{{j}}">{{choices.dropdown_value}}</label>
                </div>
              </div>
              <div *ngIf="isDropdown[i]">
                <div class="ml-2 custom-control custom-checkbox custom-control-inline"
                  *ngFor="let choices of item.dropdown;let j = index">
                  <input type="checkbox" class="custom-control-input" id="defaultInline{{i}}{{j}}"
                    (click)="setValueDropdown(i,j)">
                  <label class="custom-control-label" for="defaultInline{{i}}{{j}}">{{choices.dropdown_value}}</label>
                </div>
              </div>
            </div>
          </div>


        </div>





      </span>
      <hr>
    </div>
    <button type="submit" class="btn btn-success btn-sm my-2" *ngIf="isform;else noneForm" (click)="search()">
      <i class="fas fa-search"></i> Search
    </button>
    <ng-template #noneForm>
      <div class="media text-muted pt-3" style="height: 100vh">
        <p class="text-muted">Can not search.</p>
      </div>
    </ng-template>
  </form>

  <div class="p-3 bg-white rounded shadow" style="margin-bottom: 40px" *ngIf="answer">
    <div class="clearfix">
      <button class="btn btn-default iconHover float-right" (click)="exportAsXLSX()" matTooltip="Export"
        matTooltipPosition="below">
        <i class="fas fa-file-export"></i>
      </button>
    </div>
    <hr>
    <div>
      <div class="row clearfix align-middle">
        <div class="col-lg-4 col-sm-12m">
          <mat-form-field style="width: 100%">
            <input matInput placeholder="Search name" [(ngModel)]="searchKeyword" (keyup)="searchUser()"
              autocomplete="off">
          </mat-form-field>
          <div *ngIf="isAnswerData; else noneAnswer">
            <div class="media text-muted pt-3 e css-name" *ngFor="let show of answer.user_form;let i = index"
              (click)=" getAnswerDetail(i)">
              <img class="bd-placeholder-img mr-2 rounded-circle" width="32" height="32" [src]="HOST_URL+show.image"
                style="margin-left: 10px">
              <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">

                <div class="d-flex justify-content-between align-items-center w-100">
                  <strong class="text-gray-dark">{{show.name}}</strong>
                </div>
                <span class="d-block">{{show.created_at | datetimeCustom: show.created_at}}</span>
              </div>
              <span style="color: #286FC2;margin-top: 10px;margin-right: 5px">
                <i class="fas fa-chevron-right"></i>
              </span>
            </div>
          </div>
          <ng-template #noneAnswer>
            <div class="media text-muted pt-3" style="height: 100vh">
              <p class="text-muted">Answer is empty.</p>
            </div>
          </ng-template>

        </div>
        <div class="col-lg-8 col-sm-12">
          <div class="container">
            <div class="col-8" *ngIf="isAnswerDetail;else noneAnswer">
              <div class="blog-post" *ngFor="let ans of answerClicked.data;let i = index">
                <h3><small style="color: #212121">{{i+1}}.&nbsp;{{ ans.question}}</small></h3>
                <div class="form-inline">
                  <p style="color: #FF8C00">Answer: </p>
                  <p class="form-inline" style="color: #757575"
                    *ngIf="ans.data_type_id === 3 || ans.data_type_id === 4 || ans.data_type_id === 5 || ans.data_type_id === 6|| ans.data_type_id === 7 || ans.data_type_id === 9">
                    {{ans.answer[0].value}}
                  </p>
                  <p style="color: #757575" *ngIf="ans.data_type_id === 1">
                    {{ans.answer[0].value | dateCustom: ans.answer[0].value}}
                  </p>
                  <p style="color: #757575" *ngIf="ans.data_type_id === 2">
                    {{ans.answer[0].value  | datetimeCustom: ans.answer[0].value}}
                  </p>
                </div>
                <div *ngIf="ans.data_type_id === 10 && ans.answer[0].values">
                  <div *ngFor="let img of ans.answer[0].values">
                    <br>
                    <img class="mr-3 rounded" [src]="HOST_URL + img.image" style="width: 300px;height: 300px;"
                      onerror="this.src='/assets/img/img_error.png'" alt="">
                  </div>
                </div>
                <div *ngIf="ans.data_type_id === 8">
                  <div class="form-check-inline" *ngFor="let ansItem of ans.answer">
                    <div (click)="textPDF(i)">
                      <img class="" src="assets/img/file.png" alt="Files" width="30" height="30">
                      <button class="btn btn-default">
                        <h6 class="file-hover">{{ansItem.filename}}</h6>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #noneAnswer>
              <div class="media text-muted pt-3" style="height: 100vh">
                <p class="text-muted">Answer is empty.</p>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>



    <small class="d-block text-right mt-3">
      <a href="#"></a>
    </small>
  </div>
</div>
