.e:hover{
  color: #757575;
  background-color: rgb(231, 231, 231);
}
.media.css-name {
  cursor: pointer;
}
.iconBack:hover {
    color: #2196F3;
}
.breadcrumb-set {
  background-color: #FFFFFF;
  margin-bottom: 0px;
  padding-bottom: 5px;
  padding-top: 5px
}
.form-overflow {
  white-space: nowrap;
  width: 200px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  background: transparent;
  border: 0 none;
}

