<footer class="footer text-muted text-small">
  <div class="row">
    <div class="col-lg-12 text-center">
      <p class="">© 2019 Power by Rise (1.0.9)fix edit file</p>
    </div>
    <div class="col-lg-12 text-center">
      <a routerLink="/settings/credit">Credit</a>
    </div>
  </div>
</footer>
