<div class="bg">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 my-2">
        <div class=" container">
          <div class="row form-inline">
            <div class="col-lg-5 col-sm-12">
              <h2 class="float-left text-black">Share form</h2>
            </div>
            <div class="col-lg-7 col-sm-12">
              <mat-form-field>
                <input matInput placeholder="Search..." [(ngModel)]="keywords" (keyup)="getShareform()"
                  autocomplete="off">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="isEmptyForm;else haveshareform">
        <div style="margin-top: 20px;margin-left: 15px;">
          <p class="text-muted">Share forms is empty.</p>
        </div>

      </div>
      <ng-template #haveshareform>
        <div class="container">

          <div class="row">
            <div class="col-lg-3 col-sm-6 mb-4" style="margin-top: 20px;width: 50%"
              *ngFor="let form of shareForms;let i = index">

              <div class="hovereffect border" (click)="selectForm(i)" routerLink="../show/{{form.id}}"
                style="border-radius: 20px">
                <div>
                  <img class="img-responsive img-fluid d-block mx-auto lazy" [src]="HOST_URL + form.image"
                    style="width: 100%; ;height:200px;">
                </div>
                <hr>
                <div class="overlay textOverflow">
                  <small>
                    <h2 class="textOverflow">
                      {{form.title}}
                    </h2>
                  </small>
                </div>
                <small>
                  <h6>
                    <div class="textOverflow">
                      {{form.title}} <br>
                    </div>
                    <div class="text-muted">
                      Created by {{form.owner}}
                    </div>

                  </h6>
                </small>
              </div>

            </div>
          </div>
        </div>
      </ng-template>




    </div>


    <div class="text-center" *ngIf="isLoadForm">
      <button mat-raised-button color="accent" (click)="loadForm()">See more...</button>
    </div>
  </div>
</div>
