<div class="bg">

  <div class="container">
    <div class="card-body text-center my-5" style="width: 100%;height: auto;">
      <p class="card-text">
      </p>
      <form class="form-signup">
        <h1 class="h3 mb-3 font-weight-normal text-title font-weight-bold">REGISTER</h1>
        <div class="">
          <div class="rounded mx-auto d-block text-center" style="width: 100%;height: auto;">
            <img type="image" class=" image-center" [src]="imageShow"
              style="width: 150px; height: 150px;border-radius: 20px;"><br>
          </div>
        </div>

        <br>
        <div class="custom-file">
          <input id="browseImage" type="file" accept="image/*" class="custom-file-input"
            (change)="handleFileInput($event)">
          <label class="custom-file-label browse" for="browseImage" style="width: 100%">
            <div class="textOverflow" style="width: 100%">{{imageName}}</div>
          </label>
        </div>
        <br><br>

        <input type="text" class="form-control rounded-top" placeholder="Username" required="" [(ngModel)]="username"
          name="Username" autocomplete="off" value="client1"><br>
        <input type="password" class="form-control rounded-bottom" placeholder="Password" [(ngModel)]="password"
          name="password" autocomplete="off" value="123456789"><br>
        <input type="password" class="form-control rounded-bottom" placeholder="Confirm Password"
          [(ngModel)]="confirmPassword" name="confirmpassword" autocomplete="off" value="123456789"><br>
        <input type="text" class="form-control rounded-bottom" placeholder="Phone" [(ngModel)]="phone"
          name="phone_number" autocomplete="off" (keypress)="onKeyUp($event)" maxlength="10" minlength="10"><br>
        <input type="email" class="form-control rounded-bottom" placeholder="Email" [(ngModel)]="email" name="email"
          autocomplete="off" value="client1@gmail.com"><br>

        <button class="btn btn-lg btn-color btn-block" type="submit" style="border-radius: 24px" (click)="signUp()">
          <h6 style="padding-top: 5px"><strong>SIGN UP</strong></h6>
        </button>
        <button class="btn btn-lg btn-outline-primary btn-block" type="submit" style="border-radius: 24px"
          routerLink="/">
          <h6 style="padding-top: 5px"><strong>Sign In</strong></h6>
        </button>
      </form>
    </div>
  </div>




</div>
