.bg {
  padding-top: 30px;
}

.form-signup {
    width: 100%;
    max-width: 330px;
    margin: auto;
}

form {
    display: block;
    margin-top: 0em;

}

.text-center {
    text-align: center!important;
}


.card-body {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  width: 500px;
  position: center;

  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.text-title {
  color: #0A2455;
}
.btn-color {
  color: #FFFFFF;
  background-color: #0A2455;
}
.btn-color:hover {
background-color: #0E1A40;
}
div.textOverflow {
  white-space: nowrap;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
