@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  height: 100% !important;
  margin: 0;
}
img{
  object-fit: cover;
}
