.btuUser {
  color: #ffffff;
}

.btuSetting {
  color: #DEDEDE;
  border-radius: .2rem;
}

.btuSettingOption {
  color: #000000;
}
.btuSettingOption:hover {
  color: #000000;
  background-color: #DEDEDE;
}

.btuSignout {
  cursor: pointer;
}
.btuSignout:hover {
  background-color: #FE4E47;
}
.img-cursor {
  cursor: pointer;
}









