<nav class="navbar fixed-top  navbar-expand-lg navbar-light " style="background-color: #cccddce3" *ngIf="user">
  <a class="navbar-brand" routerLink="/groups">
    <img src="/assets/logo/logo-Mome.png" width="30" height="30" class="d-inline-block align-top" alt="">
    <strong style="color: #286FC2">MoMe</strong>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/groups"><i class="fas fa-home"></i> Home</a>
      </li>

      <div class="nav-item dropdown" *ngIf="isAdmin">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link dropdown-toggle btuSetting btn btn-default btn-sm" href="#" id="navbarDropdown"
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 15px;">
            <i class="fas fa-cog"></i> Manage
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

        <li class="">
          <button class="dropdown-item  btn-sm" routerLink="/groups/new" style="color: #000000">Groups</button>
        </li>
        <div class="dropdown-divider"></div>
        <li class="">
          <button class="dropdown-item  btn-sm" routerLink="/settings/createuser" style="color: #000000">
            Users</button>
        </li>
      </div>
      </li>
  </div>

  </ul>
  <form class="form-inline my-2 my-lg-0">
    <img *ngIf="user.user_info.image" class="bd-placeholder-img mr-2 rounded-circle img-cursor lazy shadow" width="32"
      height="32" routerLink="/settings/account" onerror="this.src='/assets/img/man.png'" alt="Not Found Image"
      [src]="HOST_URL + this.user.user_info.image">
    <a class="nav-link" [routerLinkActive]="['active']" routerLink="/settings/account">
      <strong>{{user.user_info.name}}</strong>
    </a>
    <button mat-stroked-button color="warn" (click)="signOut()">
      <i class="fas fa-sign-out-alt"></i> Sign Out</button>
  </form>
  </div>

</nav>
