<div class="container">
  <div class="row">
    <div class="col-lg-12 my-4">
      <div class="row">
        <div class="col-lg-1.5 col-sm-12">
          <h4 class="float-left text-black">Edit Groups</h4>
        </div>
        <div class="col-lg-5 col-sm-12">
          <nav aria-label="breadcrumb" style="margin-top: 7px;">
            <ol class="breadcrumb breadcrumb-set">
              <li class="breadcrumb-item"><a routerLink="/groups"><i class="fas fa-home"></i> Home</a></li>
              <li class="breadcrumb-item"><a style="color: #007bff">Manage</a></li>
              <li class="breadcrumb-item active"><a>Edit Group</a></li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-5">

        </div>
      </div>

    </div>

    <div class="col-lg-12" *ngIf="groupData">
      <div class="clearfix align-middle">
        <div class="row">
          <div class="col-lg-4 col-sm-12 clearfix">
            <h6 class="float-left" style="margin-bottom: 0px;line-height: 2;">Group List</h6>
            <h6 class="float-right" style="margin-bottom: 0px;line-height: 2;">Results {{groupData.amount}}</h6>
          </div>
          <div class="col-lg-8 col-sm-12">

          </div>
        </div>


      </div>
      <hr>
      <div class="row">
        <div class="col-lg-4 col-sm-12 shadow-sm">
          <mat-form-field style="width: 100%">
            <input matInput placeholder="Search group..." [(ngModel)]="keyword" (keyup)="getGroup()" autocomplete="off">
          </mat-form-field>
          <div class="media text-muted pt-3 e css-name selectUser col-lg-12 col-sm-4"
            *ngFor="let group of groupData.groups;let i = index" (click)=" getDetail(i)" style="cursor: pointer;">
            <img class="bd-placeholder-img mr-2 rounded" width="32px" height="auto" [src]="HOST_URL+group.image"
              style="margin-left: 5px" onerror="this.src='/assets/img/temp.png'" alt="">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-dark textOverflow">{{group.title}}</strong>
              </div>
              <span class="text-gray-dark d-block textOverflow">{{group.description}}</span>
            </div>
            <span style="color: #286FC2;margin-top: 10px;margin-right: 5px"><i class="fas fa-chevron-right"></i></span>
          </div>
          <br>
          <div class="row" style="margin-top: 5px">
            <div class="col-5 text-center">
              <button mat-raised-button color="primary" [disabled]="!isBackForm" (click)="backPage()">Back</button>

            </div>
            <div class="col-2 text-center" style="margin-top: 5px;">
              {{stackPage+1}}
            </div>
            <div class="col-5 text-center">
              <button mat-raised-button color="primary" [disabled]="!isNextForm" (click)="nextPage()">Next</button>

            </div>
          </div>

          <br>
        </div>
        <div class="col-lg-8 col-sm-12">
          <div class="card-body" *ngIf="groupSelect;else nonegroup" style="margin-bottom: 40px;">
            <div class="card-text">
              Title:
              <div class="row">
                <div class="col-6">
                  <input type="text" class="form form-control" placeholder="Title" [(ngModel)]="groupSelect.title"
                    name="titleValue" autocomplete="off">
                </div>
                <div class="col-6">
                  <div class="clearfix">
                    <button class="btn btn-default float-right btn-circle" (click)="deleteGroup()"
                      matTooltip="Delete group" matTooltipPosition="below">
                      <img src="assets/icon-plus/btn-delete.png" style="margin-bottom: 3px;">
                    </button>
                  </div>
                </div>
              </div>
              <br>
              Description:
              <textarea class="form form-control" cols="2" rows="3" placeholder="Description..."
                [(ngModel)]="groupSelect.description" name="descriptionValue"></textarea>
            </div>
            <br>
            <div class="text-center">
              <div style="margin-bottom: 10px" *ngIf="imageShow">
                <img type="image" class=" image-center" [src]="imageShow"
                  style="width: 150px; height: 150px;border-radius: 20px;"
                  onerror="this.src='/assets/img/img_error.png'" alt=""><br>
              </div>
              <br>
              <div>
                <div class="custom-file" style="width: 50%">
                  <input id="browseImage" type="file" accept="image/*" class="custom-file-input"
                    (change)="handleImageInput($event)">
                  <label class="custom-file-label browse" for="browseImage">
                    <div class="textOverflow" style="width: 100%">{{imageName}}</div>
                  </label>
                </div>
              </div>
            </div>


            <div style="margin-top: 20px">
              <button class="btn btn-default btn-block btn-submit" (click)="editGroup()">
                Save Change</button>
            </div>
          </div>
          <ng-template #nonegroup>
            <div class="media text-muted pt-3" style="height: 100vh">
              <p class="text-muted">Group is empty.</p>
            </div>
          </ng-template>


        </div>
      </div>



    </div>



  </div>
</div>
