.breadcrumb-set {
  background-color: #FFFFFF;
  margin-bottom: 0px;
  padding-bottom: 5px;
  padding-top: 5px
}
.textOverflow {
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.e:hover{
  cursor: pointer;
  color: #757575;
  background-color: rgb(231, 231, 231);
}
.browse::after {
  font-family: "Font Awesome 5 Free";
  content: "\f03e" !important;
}

.card-body {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  width: 500px;
  position: center;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 0px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.btn-submit {
  color: #FFFFFF;
  background-color: #3885DE;
}
.btn-submit:hover {
  background-color: #286FC2;
}
