<h1 mat-dialog-title>Forgot Password</h1>
<div mat-dialog-content>

  <p>Fill your email</p>
  <mat-form-field>
    <input matInput placeholder="your email" [(ngModel)]="email" name="email_value" autocomplete="off">
    <mat-icon matSuffix><i class="far fa-envelope"></i></mat-icon>
  </mat-form-field>
  <p style="color: brown">{{textAlert}}</p>
</div>
<div mat-dialog-actions>
  <button class="btn btn-primary" (click)="checkEmail()" [disabled]="isSubmitClicked" type="submit">
    <div *ngIf="isLoadingEmail" class="spinner-border spinner-border-sm text-light" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    Send
  </button>

  <button class="btn btn-secondary" style="margin-left: 10px" (click)="onNoClick()">Close</button>
</div>
