.bg {
  padding-top: 100px;
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btuSignin {
  color: #FFFFFF;
  background-color: #0A2455;
}
.btuSignin:hover {
    background-color: #0E1A40;
    box-shadow: 0 2px 15px #38BBDE !important;
}

form {
    display: block;
    margin-top: 0em;

}

.text-center {
    text-align: center!important;
}

.card-body {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  width: 800px;
  position: center;

  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.card-color {
  border-color: #2793E8;
  border-width: 1px !important;
  color: #0A2455;
  background: #FFFFFF;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

input.transparent-input{
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;

  margin: 0 auto;
  float: none;
  box-shadow: none;
}

button.center {
  margin: 0 auto;
  float: none;
}

.text-forgot:hover {
  cursor: pointer;
}

.zoom {
  transition: transform .2s;
  margin: 0 auto;
}
.zoom:hover {
  transform: scale(1.1);
}
.title-dark {
  color: #0A2455;
}
.title-light {
  color: #3885DE;
}



