<div class="bg">
  <div class="container">
    <div class="card-body card-color shadow-sm rounded border" style="width: 100%;height: auto;">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div style="padding-top: 80px">

            <div class="zoom">
              <img alt="Web Studio" class="img-fluid rounded mx-auto d-block" src="/assets/logo/logo-Mome.png"
                style="width: 50%; height: 50%" />
            </div><br>
            <div class="">
              <div class="text-center">
                <h2>
                  <strong class="title-dark">M</strong>
                  <strong class="title-light">o</strong>
                  <strong class="title-dark">M</strong>
                  <strong class="title-light">e</strong>
                  <strong>&nbsp;</strong>
                  <strong class="title-dark">F</strong>
                  <strong class="title-light">orms</strong>
                </h2>
                <!-- <div class="float-center">
                <a class="" routerLink="/credit">Credit</a>
              </div> -->
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="">

            <form style="padding-top: 50px;">
              <div class="form-group">
                <h4 class="text-center"><strong>Sign In</strong></h4><br>
              </div>
              <div class="form-group text-center">
                <mat-form-field style="width: 80%">
                  <input matInput placeholder="Username" [(ngModel)]="login.username" name="username"
                    autocomplete="off">
                </mat-form-field>
              </div>
              <div class="form-group text-center">
                <mat-form-field style="width: 80%">
                  <input matInput placeholder="Password" [type]="isPassHide ? 'password' : 'text'"
                    [(ngModel)]="login.password" name="password">
                  <mat-icon matSuffix (click)="isPassHide = !isPassHide" style="cursor:pointer">
                    {{isPassHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
              </div>
              <br>
              <div class="form-group" *ngIf="isLoading">
                <div class="text-center">
                  <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-block btuSignin col-10 center" style="border-radius: 24px" type="submit"
                  (click)="signIn()">
                  <h6 style="padding-top: 6px"><strong>LOGIN</strong></h6>
                </button>
              </div>
              <div class="form-group">
                <button class="btn btn-block btn-outline-primary col-10 center" style="border-radius: 24px"
                  type="submit" routerLink="/signup">
                  <h6 style="padding-top: 6px"><strong>Sign Up</strong></h6>
                </button>
              </div>
              <div class="form-group text-center">
                <a class="text-forgot" style="color: #2793E8" (click)="openDialog()">Forgot your
                  password?</a>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
