<div *ngIf="questionData">
  <div role="main" class="container">
    <div class="text-center my-4">

      <div class="row">
        <div class="col-lg-3 col-sm-12">
          <h2 class="float-left text-black">Questionnarie</h2>
        </div>
        <div class="col-lg-9 col-sm-12">
          <nav aria-label="breadcrumb" style="margin-top: 7px;">
            <ol class="breadcrumb breadcrumb-set">
              <li class="breadcrumb-item"><a routerLink="/groups"><i class="fas fa-home"></i> Home</a></li>
              <li class="breadcrumb-item form-overflow"><a routerLink="/groups/{{groupId}}">{{groupName}}</a></li>
              <li class="breadcrumb-item form-overflow"><a
                  routerLink="/groups/{{groupId}}/show/{{formId}}">{{formName}}</a>
              </li>
              <li class="breadcrumb-item active">Question</li>
            </ol>
          </nav>
        </div>

      </div>

      <div class="text-center">
        <form class="">
          <ul class="list-group mb-3 shadow-sm">

            <li class="list-group-item d-flex justify-content-between lh-condensed"
              *ngFor="let list of questionData.item; let i = index">
              <div>
                <div class="form-inline">
                  <h6 class="my-0 float-left">{{i+1}}.&nbsp;{{list.title}}</h6>


                  <a *ngIf="isRequired[i]">
                    <p class="text-required">*</p>
                  </a>
                </div>

                <br>
                <div *ngIf="isDate[i]">
                  <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date"
                      matTooltip="{{list.description}}" matTooltipPosition="right" [(ngModel)]="list.value"
                      name="date{{i}}" disabled>
                    <mat-datepicker-toggle matSuffix [for]="picker" matTooltip="{{list.description}}"
                      matTooltipPosition="right"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker disabled="false" matTooltip="{{list.description}}"
                      matTooltipPosition="right">
                    </mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-inline" *ngIf="isDatetime[i]">
                  <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date"
                      matTooltip="{{list.description}}" matTooltipPosition="right"
                      (dateChange)="EndDateChange($event,i)" disabled>
                    <mat-datepicker-toggle matSuffix [for]="picker" matTooltip="{{list.description}}"
                      matTooltipPosition="right"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker disabled="false" matTooltip="{{list.description}}"
                      matTooltipPosition="right">
                    </mat-datepicker>
                  </mat-form-field>
                  <input class="form-control" [ngxTimepicker]="pickerz" [format]="24" [(ngModel)]="timeOfDatetime[i]"
                    name="datetimeForm{{i}}" matTooltip="{{list.description}}" matTooltipPosition="right"
                    placeholder="Choose a time (12:30 pm)" style="margin-left: 10px">
                  <ngx-material-timepicker #pickerz></ngx-material-timepicker>
                </div>
                <div *ngIf="isString[i]">
                  <input type="text" class="form-control" [(ngModel)]="list.value" name="stringForm" autocomplete="off"
                    matTooltip="{{list.description}}" matTooltipPosition="right">
                </div>
                <div *ngIf="isText[i]">
                  <textarea class="form-control" cols="50" rows="5" [(ngModel)]="list.value" name="textForm"
                    autocomplete="off" matTooltip="{{list.description}}" matTooltipPosition="right"></textarea>
                </div>
                <div *ngIf="isInt[i]">
                  <input type="number" min="0" step="1" class="form-control" [(ngModel)]="list.value" name="intForm"
                    autocomplete="off" matTooltip="{{list.description}}" matTooltipPosition="right">
                </div>
                <div *ngIf="isFloat[i]">
                  <input type="number" min="0.00" step="0.01" class="form-control" [(ngModel)]="list.value"
                    name="floatForm" autocomplete="off" matTooltip="{{list.description}}" matTooltipPosition="right">
                </div>
                <div *ngIf="isCheck[i]">
                  <ul class="list-group" matTooltip="{{list.description}}" matTooltipPosition="right">
                    <li class="list-group-item" *ngFor="let item of questionData.item[i].dropdown;let j = index">
                      <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="defaultInline{{i}}{{j}}"
                          (click)="checkboxSelect(item.dropdown_value,list.order_no,i,j)">
                        <label class="custom-control-label"
                          for="defaultInline{{i}}{{j}}">{{item.dropdown_value}}</label>
                      </div>
                    </li>
                  </ul>


                </div>
                <div *ngIf="isImage[i]">
                  <div class="custom-file">
                    <input type="file" accept="image/*" class="custom-file-input" id="fileImage"
                      (change)="handleFileInputExam($event,i)" matTooltip="{{list.description}}"
                      matTooltipPosition="right" multiple>
                    <label class="custom-file-label" for="fileImage">Choose Image</label>
                  </div>
                  <div class="form-check-inline" *ngFor="let item of imageShow[i]">
                    <img type="image" class="img rounded" [src]="item" style="width: 150px; ;height: 150px">
                  </div>

                </div>
                <div *ngIf="isFile[i]">
                  <input type="file" accept="*" (change)="handleFile($event,i)" matTooltip="{{list.description}}"
                    matTooltipPosition="right">

                </div>
                <div *ngIf="isDropdown[i]">
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false" matTooltip="{{list.description}}"
                      matTooltipPosition="right">
                      {{selectDropdown[i]}}
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" *ngFor="let item of questionData.item[i].dropdown;let j = index"
                        (click)="dropdownSelect(item.dropdown_value,i,j)" style="cursor: pointer">
                        {{item.dropdown_value}}
                      </a>
                    </div>
                  </div>

                </div>



              </div>
            </li>
          </ul>

          <button class="btn btn-primary float-right" (click)="submit()" style="margin-bottom: 10px"
            [disabled]="isSubmitClicked">
            <div *ngIf="isLoading" class="spinner-border spinner-border-sm text-light" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            Submit question
          </button>
        </form>
      </div>
    </div>


  </div>
</div>
