.iconBack:hover {
    color: #2196F3;
}
.text-required {
  color: #e41c44;
}
.breadcrumb-set {
  background-color: rgb(255, 255, 255);
  margin-bottom: 0px;
  padding-bottom: 5px;
  padding-top: 5px
}
.form-overflow {
  white-space: nowrap;
  width: 200px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  background: transparent;
  border: 0 none;
}
