<div class="h-100 d-flex flex-column">
  <app-navbar></app-navbar>
  <div style="margin-top: 55px">
    <router-outlet></router-outlet>
  </div>
  <div class="mt-auto">
    <app-footer></app-footer>
  </div>
</div>
